:root{
    --nav-bg-color:#1d1c1c;
    --bg-color:#3e3e4f;
    --text-color:#817e7ec3;
    --text-size: 25px;
    --nav-bar-width:650px;
    --nav-bar-height:25px;
    --nav-text-color:azure;
}
body
{
    background-color: var(--bg-color);
    text-align: center;
    font-size: var(--text-size);
    color: var(--text-color);
    margin: 0;
}
header{
    color: var(--nav-bg-color);
    font-size: 17px;
    gap: 1rem;
    padding:5px 10px;
    height: 38px;
    background-color: var(--nav-bg-color);
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-search-bar
{
    border: 2px solid gray;
    border-radius: 8px;
    width:var(--nav-bar-width);
    height: var(--nav-bar-height);
    font-size: 18px;
    background-color: var(--nav-bg-color);
    color:azure;
}
.nav-create-btn
{
    border: 2px solid gray;
    border-radius: 8px;
    width:80px;
    height: 30px;
    background-color: var(--nav-bg-color);
    color:azure;
}
.nav-btn{
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    background-color: transparent;
    color:var(--nav-text-color);
    text-decoration: none;
    border-radius: 8px;
    border:solid gray;
}